<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>add</title>
<link href="../static/css/templates.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">	
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="../static/js/add.js"></script>
</head>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<body>

	<div class="main-container">
	
  <div class="user-container">
    <div>
      <div class="container"><img id="imgperfil" src="../static/Images/logo.png" width="200" height="200" alt="" class="imgRedonda"/>
        <h3 style="color:#27BBA5">Paula Aguilera</h3>
      </div>
    </div>
    <div class="user--menu">
      <a href="{{url_for('main')}}"><i class="material-icons">home</i>Inicio</a><br>
     <br> 
	 <a href="{{url_for('search')}}"><i class="material-icons">image_search</i> Buscar Foto</a><br>
		<br> 
      <a href="{{url_for('add')}}"><i class="material-icons">add_circle</i> Agregar Foto</a><br><br> 
      
      <a href="{{url_for('edit')}}"><i class="material-icons">brush</i> Editar Foto</a><br><br> 
      <br>
      <a href="#"><i class="material-icons" style="
		  padding-top: 130px">settings</i> Configuración</a><br><br> 
      <a href="{{url_for('logout')}}"><i class="material-icons">exit_to_app</i> Cerrar Sesión</a><br>
    </div>
  </div>
  
  <div class="main-feed">
    <h1 style="font-size: 30px; text-align: left; color: rgb(112, 112, 112); margin: 30px;"> Agregar Foto</h1>
            
     <form action="">
	  <div class="add-container">
                    <image id="preview"></image><br>
                    <input type="file" name="file" id="file" accept="image/*" onchange="previewImage();">
                    <input class="Button2" style="font-size: 20px; margin-bottom: 20px; color: white"  type="button" value="Subir Archivo" onclick="document.getElementById('file').click()">
                    <br>
                    <label style="color: rgb(112,112,112); margin: 5px; font-family: 'Bebas neue'; text-align: left;" for="comentario"> Agrega Comentario</label><br>
                    <input name="comentario" class="comentario " type="text" id="comentario"><br>
                    <input name="privado" class="privado" type="checkbox" id="privado" value="esPrivado">
                    <label style="color: rgb(112,112,112); margin: 5px; font-family: 'Bebas neue'; text-align: left;" for="privado"> Privado</label><br>
                    <input name="postear" type="submit" class="Button2" style="font-size: 20px; margin-top: 20px; color: white" value="Postear Foto">
                </div>
		 </form>
    </div>
</div>
	
	
</body>
</html>
